__pycache__/
*.pyc
*.opju
*.oggu
*.dat
*.opju*
TP.txt
_p.dat
_proc.dat
_s.dat
_sticks.dat
_test.opju.oggu
test_si.opju.oggu
*.png
*.pdf
*.opju
run_in_origin.ogs
build_plot*.ogs
TiO2_PCF_XRD*
build/
dist/
XRD_Refiner.exe
